body {
    background-color: white;
    text-align: center;
    margin: 0px; padding: 0px;
}

/* ν—¤λ” */
#header {
    position: absolute;
    left: 0%; top: 0%;
    background-color: #97C2FF;
    width: 100%; height: 125px;
}
#header>h1 {
    position: inherit;
    left: 5%; top: 25%;
    color: white;
}
#header>#nav{
    position: inherit;
    left: 0%; bottom: 0%;
    background-color: #C1DAFF;
    width: 100%; height: 30px;
    text-align: left;
}
#header>#nav>.nav_category{
    float: left;
    padding: 0em 2em; height: 100%;
    text-align: center;
    vertical-align: middle;
}
#header>#nav>.nav_category>a{
    color: black;
    font-weight: bold; text-decoration: none;
    vertical-align: middle;
}
#header>#nav>.nav_category:last-child>a{
    color: black;
    font-size: 10px;
    font-weight: bold; text-decoration: none;
    vertical-align: middle;
}

/* ν‘Έν„° */
#footer {
    position: absolute;
    left: 0%; bottom: 0;
    background-color: #97C2FF;
    opacity: 50%;
    width: 100%; height: 60px;
}
#footer>p {
    position: inherit;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
