#body {
    margin: 15px 0px;
    display: flex;
    align-items: center; vertical-align: middle;
    flex-direction: column;
    width: 100%; height: 500px;
}
#writing_page {
    margin: 5px 0px;
    text-align: center;
    display: flex;
    float: left; 
    position: inherit;
    width: 70%; height: 100%;
}

/* 광고창 */
#advertisement {
    margin-left: 10px;
    background-color: #C4C4C4;
}

/* 글 작성 폼 */
#writing_form {
    position: inherit;
    height: 100%;
    padding: 10px;
    text-align: left;
    font-size: 13px;
    border: 2px solid #C4C4C4;
    border-radius: 0.5em;
}
#writing_form>#form_header{ margin-bottom: 5px; }
#form_header>input { border: none; }
#form_header>input, #form_header>select{ margin-left: 10px; }
#writing_form>textarea{ 
    margin-top: 5px; 
    width: 100%; height: 60%;
    border: none;
}
#mobile_hr{ display: none; }
#tag_icon{ margin: 0px 10px; }

#title{ width: 70%; margin-right: 10px; }
#program{ width: 40%; margin-right: 10px; }
ul.ant-rate{ margin-left: 5px; }

/* 글 작성 버튼 */
#writing_form>#writing_button_area{ 
    position: inherit;
    bottom: 0%;
    text-align: center; 
}
#writing_button{
    text-align: center;
    width: 5em;
    background-color: white; 
    border: 2px solid #C4C4C4;
    border-radius: 0.2em;
}

@media screen and (max-width: 1200px) {
    #body>#writing_page { width: 85%; }
    #writing_form{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    #mobile_hr{ display: initial; }
    #body>#writing_page { width: 90%; }
    #writing_form{
        width: 100%;
    }
    #writing_form>textarea{
        height: 55%;
    }
    #advertisement{ display: none; }
}