#body {
    margin: 5px 0px;
    display: flex; justify-content: center;
    width: 100%; height: 580px;
}
#body>div{
    margin: 5px 0px;
    position: inherit;
    width: 70%; height: 100%;
    /*border: 1px solid red;*/
}

/* 셀렉트 박스 */
.select_box {
    width: fit-content; height: 50px;
    float: right;
}
.select_box>select {
    margin: 5px;
}

#board {
    position: inherit; 
    top: 15%;
    width: 100%; height: 90%;
    float: left;
    border: 1px solid blue;
}
#posting_screen {
    position: inherit;
    width: 80%; height: 100%;
    display: block;
    border: 1px solid green;
}